@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(table-column) {
  @include m(selection) {
    .cell {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

@include b(table-filter) {
  // @fep remove
  background-color: $color-white;
  box-shadow: map.get($dropdown, 'menu-box-shadow');
  box-sizing: border-box;

  /** used for dropdown mode */
  @include e(list) {
    padding: 5px 0;
    margin: 0;
    list-style: none;
    min-width: 100px;
    outline: none;
  }

  @include e(list-item) {
    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    font-size: getCssVar('font-size', 'base');
    outline: none;

    &:hover,
    &:focus {
      background-color: map.get($dropdown, 'menuItem-hover-fill');
      color: map.get($dropdown, 'menuItem-hover-color');
    }

    @include when(active) {
      background-color: getCssVar('color-primary');
      color: $color-white;
    }
  }

  @include e(multiple) {
    outline: none;
  }

  @include e(content) {
    // @fep
    min-width: 180px;
  }

  @include e(bottom) {
    // @fep remove section

    // @fep section
    display: flex;
    padding: 6px 6px 15px;
    justify-content: flex-end;
    gap: 6px;
    > button:last-child {
      margin-left: 0;
      order: -1;
    }
  }

  @include e(wrap) {
    max-height: 280px;
  }

  @include e(checkbox-group) {
    padding: 10px;

    label.#{$namespace}-checkbox {
      display: flex;
      align-items: center;
      margin-right: 5px;
      margin-bottom: 12px;
      margin-left: 5px;
      height: unset;

      // @fep section
      margin: 0;
      padding: 3px 12px;
      height: 30px;
      line-height: 30px;
      border-radius: getCssVar('border-radius', 'large');
      &:hover {
        background-color: #1677ff0d;
      }
    }

    .#{$namespace}-checkbox:last-child {
      margin-bottom: 0;
    }
  }
}
